
# Junk files
*~
.DS_Store

# Build
target/
bin/
build/
node_modules/
.flattened-pom.xml
module-base/.flattened-pom.xml
module-gui/.flattened-pom.xml


# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea
*.iml

